mongo:
  server: mongodb://localhost:27017
  database: gart
  collection: d1

google:
  realtime:
    rps: 30
    dimmensions:
      d1:
        - rt:city
        - rt:browserVersion
        - rt:operatingSystemVersion
        - rt:pagePath
        - rt:campaign
        - rt:source
        - rt:medium
      d2:
        - rt:city
        - rt:browserVersion
        - rt:operatingSystemVersion
        - rt:pagePath
        - rt:referralPath
        - rt:trafficType
        - rt:keyword
    views:
      - 122380763
      - 113985796
      - 3918249
    users:
      Chris:
        clientEmail: iam@email.com
        privateKey: chris.p12
      Diabl0:
        clientEmail: iam@email.com
        privateKey: diabl0.p12



gearman:
  servers: localhost

redis:
  options:
    prefix: gart
  connection:
    1:
      scheme: tcp
      host:   localhost
      port:   6379
